body {
  background-color: whitesmoke;
}

#app {
  position: relative;
  margin: 20px auto;
  width: 520px;
  height: 712px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
}

.tit {
  height: 58px;
  font-weight: 500;
  font-size: 16px;  
  text-align: center;
  line-height: 58px;
}

.tit::after{
  position: absolute;
  width: 519px;
  height: 1px;
  left: 0px;
  top: 58px;
  content: "";
  background: #C4C4C4;
}

.btn-close {
  position: absolute;
  background: inherit;
  border:none;
  left: 480px;
  top: 22px;
}

.txt-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 24px 0;
  margin-left: 24px;
}

.log-inp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-inp .login, .log-inp .login {
  margin-bottom: 10px;
}
.log-inp .login, .log-inp .pwd {
  width: 472px;
  height: 50px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 0px;
  padding-left: 16px;
}

.log-inp input[type="checkbox"] {
  /* display: none; */
  opacity: 0;
}
.log-inp input[type="checkbox"] + label span {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -3px 8px 0 0;
  vertical-align: middle;
  background: url(../img/check-box.png);
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
  background:url(../img/checked-box.png);
  background-size: cover;
}
.log-inp .cbox-text {
  position: absolute;
  top: 259px;
  left: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.log-inp .btn-login {
  margin-top: 58px;
  width: 472px;
  height: 50px;
  background: #2F80ED;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.link-reg {
  text-align: center;
  margin-top: 20px;
}
.link-reg a {
  text-decoration: none;
  color: #767676;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.link-reg .tag-reg::after {
  content: " |";
  margin: 0 12px;
}

.txt-or {
  text-align: center;
  color: #767676;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.txt-or::before, .txt-or::after{
  display: inline-block;
  content: "";
  background: #C4C4C4;
  width: 210px;
  height: 1px;
  margin: 0 13px 4px 13px;
}

.btn-other__login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-other__login button {
  width: 472px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin-bottom: 10px;
  background: #FFFFFF;
  color: #767676;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.btn-other__login .btn-google {
  border: 1px solid #767676;
}
.btn-other__login .btn-facebook {
  border: 1px solid #2D9CDB;
}
.btn-other__login .btn-naver {
  border: 1px solid #00BF18;
}
.btn-other__login .btn-kakao {
  border: 1px solid #F2C94C;
}

.btn-other__login button img {
  position: absolute;
}

.btn-other__login .btn-google img {
  left: 39.5px;
}
.btn-other__login .btn-facebook img {
  left: 43px;
}
.btn-other__login .btn-naver img {
  left: 39px;
} 
.btn-other__login .btn-kakao img {
  left: 39.5px;
}
