@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
  background: #5B2386;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 199px;
}
header .clock {
  position: absolute;
  width: 265px;
  height: 265px;
}
header .title {
  width: 564px;
  height: 112px;
  z-index: 1;
}
header .quotes {
  position: absolute;
  top: 550px;
}

main section .title2 {
  text-align: center;
  font-family: OTEnjoystoriesBA;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  color: #F5DF4D;
  margin-top: 120px;
}

main section .main1 {
  font-family: GmarketSansMedium;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 78px;
}
main section .main1 p {
  margin-top: 10px;
}
main section .main1 p strong {
  font-family: GmarketSansBold;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
}

main section .main2 {
  font-family: GmarketSansMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 102px;
}
main section .main2 p {
  margin: 10px;
}
main section .main2 input{
  font-family: GmarketSansMedium;
  color: black;
  font-size: 20px;
  height: 57px;
  width: 228px;
  border-radius: 7px;
  border:0 solid white;
  padding-left: 20px;
  margin: 0 10px;
}
input::-webkit-input-placeholder {
  opacity: 0.6; /*Change the opacity between 0 and 1*/
  color: #BABCBE;
}
main section .main3 {
  text-align: center;
}
main section .main3 button {
  font-family: GmarketSansMedium;
  border: 0;
  outline: 0;
  height: 66px;
  width: 565px;
  left: 678px;
  top: 1071px;
  border-radius: 56px;
  padding: 21px, 49px, 21px, 49px;
  background: #FCEE21;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #5B2386;
  margin-top: 115px;
}
main section .main3 img {
  position: absolute;
  margin-top: 140px;
}

main section .main4 {
  text-align: center;
  margin-top: 130px;
}
main section .main4 p {
  font-family: GmarketSansMedium;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #FFFFFF;
  margin-top: 17px;
}
main section .main4 p strong {
  font-family: GmarketSansBold;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
}

main section .main5 {
  text-align: center;
  margin-top: 127px;
}

main section .main5 .gogo {
  font-family: GmarketSansMedium;
  height: 66px;
  width: 356px;
  border-radius: 56px;
  background: #FCEE21;
  color: #5B2386;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  border: 0;
  outline: 0;
}

main section .main5 .share {
  font-family: GmarketSansMedium;
  height: 66px;
  width: 191px;
  border-radius: 56px;
  border: 0;
  outline: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #5B2386;
  margin-left: 12px;
}

footer {
  text-align: center;
  margin: 100px;
}
footer img {
  margin-bottom: 20px;
}
footer p {
  font-family: 'Noto Sans KR';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: white;
}

.hide {
  display: none;
}


@media screen and (max-width:600px) {
  header {
    margin-top: 92px;
  }
  header .clock {
    width: 125px;
    height: 126px;
  }
  header .title {
    width: 267px;
    height: 53px;
    z-index: 1;
  }
  header .quotes {
    position: absolute;
    top: 305px;
    width: 302px;
  }
  main section .title2 {
    font-family: OTEnjoystoriesBA;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    color: #F5DF4D;
    margin-top: 70px;
  }

  main section .main1 {
    font-family: GmarketSansMedium;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 62px;
  }
  main section .main1 p {
    margin-top: 10px;
  }
  main section .main1 p strong {
    font-family: GmarketSansBold;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
  }
  main section .main2 {
    font-family: GmarketSansMedium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 62px;
  }
  main section .main2 p {
    margin: 10px;
  }
  main section .main2 input{
    font-family: GmarketSansMedium;
    color: black;
    font-size: 14px;
    height: 37px;
    width: 156px;
    border-radius: 7px;
    border:0 solid white;
    text-align: center;
    padding: 0px;
    margin: 10px 10px;
  }

  main section .main3 button {
    align-items: center;
    font-family: GmarketSansMedium;
    border: 0;
    outline: 0;
    height: 68px;
    width: 241px;
    border-radius: 13px;
    padding: 23px, 49px, 21px, 49px;
    padding-top: 10px;
    background: #FCEE21;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #5B2386;
    margin-top: 49px;
  }
  main section .main3 img {
    position: absolute;
    margin-top: 90px;
    width:43px;
    height: 48px;
  }
  main section .main4 {
    margin-top: 81px;
  }
  main section .main4 p {
    font-family: GmarketSansMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-top: 17px;
  }
  main section .main4 p strong {
    font-family: GmarketSansBold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  }

  main section .main5 {
    margin-top: 60px;
  }
  
  main section .main5 .gogo {
    font-family: GmarketSansMedium;
    height: 40px;
    width: 186px;
    border-radius: 56px;
    background: #FCEE21;
    color: #5B2386;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border: 0;
    outline: 0;
  }
  
  main section .main5 .share {
    font-family: GmarketSansMedium;
    height: 40px;
    width: 92px;
    border-radius: 56px;
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #5B2386;
    margin-left: 12px;
  }

  footer {
    text-align: center;
    margin: 83px;
  }
  footer img {
    width: 91px;
    height: 18px;
  }
  footer p {
    font-family: 'Noto Sans KR';
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    color: white;
  }

  /* 줄바꿈 */
  line {
    display: block;
    margin:10px;
  }
}
