.cont-select {
  margin: 100px;
  width: 200px;
  height: 40px;   
}
.btn-select {
  position: relative;
  padding-right: 80px;
  width: 100%;
  height: 100%; 
  background: #FFFFFF;
  background-color: rgba(0,0,0,0);
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;    
  line-height: 14px;
  cursor: pointer;
}
.btn-select::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 16px;
  width: 12px;
  height: 8px;
  background: #C4C4C4;
  border-radius: 1px;
  transition: all .5s;
  transform: rotate(180deg);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.list-member {
  display: none;
  margin-top: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.list-member li {
  width: 100%;
  height: 40px;
  font-size: 14px;
}
.list-member button {
  width: 184px;
  height: 30px;
  margin: 5px 8px;
  background-color: white;
  border: none;
  padding-left: 10px;
  text-align: left;
  border-radius: 8px;
}

.on {
  border: 1px solid #9B51E0;
  outline: 3px solid #F8E4FF;
}
.on + .list-member {
  display: block;
}
.on + .list-member button:hover {
  background: #F8E4FF;
}
.on::after {
  transition: all .5s;
  transform: rotate(0deg);
}